.Input {
	width: 100%;
	border: 1px solid var(--color-gray-light);
	border-radius: var(--control-md-radius);
	padding: var(--control-sm-padding);
	font-size: var(--control-sm-font-size);

	&.sm {
		height: var(--control-sm-height);
	}
	&.md {
		height: var(--control-md-height);
	}
}
